# Configuration file for testing tune fitting
#
# The format of the configuration file is rather ad-hoc and is really designed
# for simplicity of parsing.  The main complication is the treatment of tune
# fitting sources.
#
# Firstly, the sources line defines a list of source prefixes that will be used
# internally to define the available tune fitting activities.  Each source is
# then defined by a sequence of definitions each of the form <prefix>_<suffix>,
# where the following suffixes are expected:
#
#   _i  Name of PV containing real (in-phase) component of tune sweep to fit
#   _q  PV containing imaginary (quadrature) component of sweep
#   _s  PV naming frequency scale for sweep
#   _t  Prefix to use for generated PVs
#   _u  List of sweep components that are expected to update.  Should be I Q for
#       old TMBF and I Q S for new MBF.
#   _a  Alias prefix to use for generating alias PVs
#   _m  Tune result multiplexer definitions.

ioc = tune_fit/runioc
broadcast_port = enp1s0f3

ioc_name = SY-TFIT

persistence_file = /opt/host/autosave/TFIT/state
persistence_interval = 120

sources = sr-t01 sr-t02

sr-t01_i = SY-TMBF:X:DET:0:I
sr-t01_q = SY-TMBF:X:DET:0:Q
sr-t01_s = SY-TMBF:X:DET:SCALE
sr-t01_t = SY-TMBF:X
sr-t01_u = I Q

sr-t02_i = SY-TMBF:Y:DET:0:I
sr-t02_q = SY-TMBF:Y:DET:0:Q
sr-t02_s = SY-TMBF:Y:DET:SCALE
sr-t02_t = SY-TMBF:Y
sr-t02_u = I Q


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Tango Devices configuration

# Some definitions for MBFStartIOC Tango Device.
# Just make sure all IOCs will be associated with an unique device_name,
# and on the same MBF crate, they must have an unique tmux_session_name.
tango_instance = SYTFIT
tango_device_name = sy/d-mbf/SYTFIT_ioc
tango_tmux_session_name = SYTFIT
