# Configuration file for T-TMBF

ioc = epics/runioc
broadcast_port = enp1s0f3

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Hardware configuration

# This identifies into which MTCA slot the AMC525 card is inserted.  For the
# correct path here see /dev/amc525_mbf/*
device_address = pci-0000:05:00.0

# Termination configuration for the three Digital IO inputs (numbered 1,2,3).
# Set to 0 for high impedance termination, set to 7 for 50 ohm termination all
# all three inputs.
dio_termination = 0

# This determines how the clock PLL is configured.  Options are:
#
#   499_682         PLL locks to 499.682 MHz input clock
#   352_372         PLL locks to 352.372 MHz input clock
#   352_202         PLL locks to 352.202 MHz input clock
#   Passthrough     PLL is bypassed
clock_mode = 352_372


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EPICS driver configuration

# EPICS configuration settings: top level device name and axis names
epics_name = SY-TMBF
axis0_name = Y
axis1_name = X

# Whether we're operating as two independent transverse axes or a single
# coupled longitudinal system.
lmbf_mode = 0

# Number of bunches per revolution.
bunches_per_turn = 704
# Machine revolution frequency.  Only used for time calculation for display
revolution_frequency = 500531

# Skew between the I and Q FIR axes (only relevant in LMBF mode)
lmbf_fir_offset = -90

# Polling interval for min/max/sum in microseconds.  Should be be short enough
# to ensure <60,000 turns between polling events.
mms_poll_interval = 50000

# Controls how often the digest PVs for archive update.  Interval in seconds.
archive_interval = 60

# Where the persistence file is stored and how often (in seconds) we update
persistence_file = /opt/host/autosave/TMBF/state
persistence_interval = 120

# When logging caput to an array we truncate the array at this length
pv_log_array_length = 10

# Number of samples in a single fast memory readout buffer
memory_readout_length = 16384

# Number of samples in a detector readout buffer
detector_length = 4096

# Number of samples in Tune PLL FIFO readout waveforms
tune_pll_length = 4096

# Port to listen on for fast data readout
data_port = 8889


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Tango Devices configuration

# Some definitions for MBFStartIOC Tango Device.
# Just make sure all IOCs will be associated with an unique device_name,
# and on the same MBF crate, they must have an unique tmux_session_name.
tango_instance = SYTMBF
tango_device_name = sy/d-mbf/SYTMBF_ioc
tango_tmux_session_name = SYTMBF

# Definitions for Tango2Epics Tango Device
tango_T2E_h_devicename = sy/d-mbf/utca-horizontal
tango_T2E_v_devicename = sy/d-mbf/utca-vertical
tango_T2E_g_devicename = sy/d-mbf/utca-global

# Definitions for MacroServer Tango Device
tango_door_h_devicename = sy/d-mbf/door-horizontal
tango_door_v_devicename = sy/d-mbf/door-vertical
tango_macro_devicename = sy/d-mbf/macro
tango_macroserver_instance = sy-mbf
tango_macroserver_sardana_path = /opt/os/python/bliss_modules/sardana/macroserver/macros

# Definitions for MBFControl Tango Device
tango_MBFControl_h_devicename = sy/d-mbf/horizontal
tango_MBFControl_v_devicename = sy/d-mbf/vertical
tango_MBFControl_h_configfilepath = /opt/infra_rw/settings/sy-mbf/horizontal
tango_MBFControl_v_configfilepath = /opt/infra_rw/settings/sy-mbf/vertical
tango_MBFControl_instance = sy-mbf

# vim: set filetype=conf:
