# Configuration file for MB1QS7G
# 1200 bunches version

ioc = epics/runioc
#broadcast_port = ens44f3

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Hardware configuration

# This identifies into which MTCA slot the AMC525 card is inserted.  For the
# correct path here see /dev/amc525_lmbf/*
device_address = pci-0000:09:00.0

# Termination configuration for the three Digital IO inputs (numbered 1,2,3).
# Set to 0 for high impedance termination, set to 7 for 50 ohm termination all
# all three inputs.
dio_termination = 7

# This determines how the clock PLL is configured.  Options are:
#
#   499_682         PLL locks to 499.682 MHz input clock
#   352_372         PLL locks to 352.372 MHz input clock
#   352_202         PLL locks to 352.202 MHz input clock
#   Passthrough     PLL is bypassed
clock_mode = 499_624


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EPICS driver configuration

# EPICS configuration settings: top level device name and axis names
epics_name = MB1QS7G
axis0_name = X
axis1_name = Y

# Whether we're operating as two independent transverse axes or a single
# coupled longitudinal system.
lmbf_mode = 0

# Number of bunches per revolution.
bunches_per_turn = 1200
# Machine revolution frequency.  Only used for time calculation for display
revolution_frequency = 1249134

# Skew between the I and Q FIR axes (only relevant in LMBF mode)
lmbf_fir_offset = -90

# Polling interval for min/max/sum in microseconds.  Should be be short enough
# to ensure <60,000 turns between polling events.
mms_poll_interval = 50000

# Controls how often the digest PVs for archive update.  Interval in seconds.
archive_interval = 10

# Where the persistence file is stored and how often (in seconds) we update
persistence_file = MB1QS7G-1200.state
persistence_interval = 120

# When logging caput to an array we truncate the array at this length
pv_log_array_length = 10

# Number of samples in a single fast memory readout buffer
memory_readout_length = 16384

# Number of samples in a detector readout buffer
detector_length = 4096

# Number of samples in Tune PLL FIFO readout waveforms
tune_pll_length = 4096

# Port to listen on for fast data readout
data_port = 8888

# vim: set filetype=conf:
